# List

In [1]:
# define a list
L = [123, 'spam', 1.23]
len(L)

3

In [2]:
# Index and slice
L[0]

123

In [3]:
L[:-1]

[123, 'spam']

In [4]:
L[:-2]

[123]

In [5]:
#add an element
L.append('NI')

In [6]:
L

[123, 'spam', 1.23, 'NI']

In [7]:
#pop out an element
L.pop(2)

1.23

In [10]:
M = ['bb', 'aa', 'cc']
M.sort()
M

['aa', 'bb', 'cc']

# Tuples

In [19]:
# define a tuple
T = (1, 2, 3, 4) 
len(T)

4

In [20]:
T+(5, 6)

(1, 2, 3, 4, 5, 6)

In [21]:
T[0]

1

In [22]:
# find the position of 4
T.index(4)

3

In [23]:
T.count(4)

1

In [24]:
T

(1, 2, 3, 4)

In [25]:
T = (2,) + T[1:]
T

(2, 2, 3, 4)

# Dictionary

In [26]:
country_code={'India':1, 'USA':2, 'China': 3}
print(country_code['China'])

3

# Sets

In [27]:
S = {"apple", "banana", "cherry", "apple"}
S

{'apple', 'banana', 'cherry'}

In [28]:
S[1]

TypeError: 'set' object is not subscriptable

# IF-ELSE

In [ ]:
score = int(input("Enter your score: "))
if score > 90:
    print("Your score is A.")
elif score>80:
    print("Your score is B.")
elif score>70:
    print("Your score is C.")
elif score>60:
    print("Your score is D.")
else: 
    print("Your score is F.")

How can we improve the code?

# For loops

In [32]:
n=int(input("Enter n :"))
for i in range(1,11):
    print(n,"x",i,"=",i*n)

Enter n :3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [36]:
total = 0
value = float( input("Enter the first item price: ") )
while value > 0 :
    total += value
    value = float( input("Enter the next item price (or 0 to quit): ") )
print( "The total balance is %4.2f" % total)

Enter the first item price: 3.45
Enter the next item price (or 0 to quit): 4
Enter the next item price (or 0 to quit): 5
Enter the next item price (or 0 to quit): 0
The total balance is 12.45

# Functions

In [39]:
def greatest(x,y,z):
    g=0
    if (x>y)and(x>z):
        g=x
    elif (y>x)and (y>z):
        g=y
    else:
        g=z
    print(g, "is the greatest")

In [40]:
greatest(3,12,9)

12 is the greatest

In [41]:
# recursive function
def factorial(n) -> object:
    return 1 if (n==1 or n==0) else n * factorial(n-1)

In [42]:
n= int(input("enter a number"))
print(factorial(n))

enter a number13
6227020800

# Classes

In [43]:
class Rectangle:
    
    def __init__(self, height, width):
        self.height = height
        self.width = width
    
    def area(self):
        area = self.height * self.width
        return area

In [44]:
rect1 = Rectangle(12, 10)
print(type(rect1))

<class '__main__.Rectangle'>

In [46]:
rect1.height

12

In [47]:
rect1.width

10

In [49]:
rect1.area()

120

Notice the difference when we use height - an attribute and area()- a method.